body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: -10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.bottom {
    display: flex;
    flex-direction: column;
}

#connexion {
    padding: 5px;
    margin: 5px;
}

#register {
    margin: 5px;
    text-align: center;
    align-items: center;
    width: auto;
}
