<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inscription</title>
</head>
<body>
    <h1>Inscription</h1>
    <form method="POST" action="{{ url_for('register') }}">
        <p><label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" required></p>
        <p><label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required></p>
        <p><input type="submit" value="S'inscrire"></p>
    </form>
    <p>Déjà inscrit ? <a href="{{ url_for('login') }}">Connectez-vous ici</a>.</p>
</body>
</html>